$main: 1px solid #000;
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  margin-left: 5mm;

  width: 297mm;

  display: flex;
  flex-direction: column;
  & .main_page,
  & .new-page {
    padding: 20mm 10mm 0mm 10mm;
    height: 210mm;
    & .bottom-title {
      height: 10mm;
      text-align: end;
    }
  }
}
input[type="text"] {
  width: 100%;
  text-align: center;
  border: none;
  border-bottom: $main;
  padding: 2px;
}

input {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
}
select {
  border: none;
  border-bottom: $main;
  height: 1rem;
  user-select: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: center;
}
.measure-date-other {
  margin-right: 30px;
  text-wrap: nowrap;
}

#other-text {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  display: block;
  justify-self: start;
  grid-row: 3 / span 2;
  grid-column: 2;
  width: 100%;
  height: 70px;
  border: 2px solid #000;
}
p {
  text-align: center;
}
header {
  padding: 5px 10px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  & > div {
    &:first-child {
      border-bottom: $main;
    }
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2px;
  }
  & > div > p:first-child {
    margin-right: 5px;
  }
  & #report-number {
    max-width: 35px;
  }
  & #super-order-number {
    width: 40px;
  }
  // & #report-date {
  //   width: 100px;
  // }
  & #order-number {
    width: 40px;
  }
  & #order-date {
    width: 100px;
  }
  & #receipt-number {
    width: 40px;
  }
  & .snsz-logo {
    padding-left: 2px;
    border-left: 2px solid #000;
  }
}
.main {
  display: grid;
  grid-template-columns: 80% 20%;
  border: 2px solid #000;
  border-top: none;
  padding: 2px;

  width: 100%;
}

.order {
  row-gap: 0px;
  align-items: center;
  justify-items: end;
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1fr 1fr;

  & > *:nth-child(2n) {
    width: 70%;
    justify-self: center;
  }
  & #order-object {
    width: 80%;
  }
  margin-bottom: 5px;
  padding: 10px;
  border: 2px solid #000;
}
.sources {
  border-right: 2px solid #000;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr;
  & th {
    border: $main;
  }
  & table {
    border: $main;
    border-right: none;
  }
}

.instruments,
.sources {
  & table {
    font-size: 14px;
    border-spacing: 0px;
  }
  & .instruments-item {
    & input {
      padding: 2px;
      width: 100%;
      border: none;
      font-size: 14px;
      text-align: center;
    }
  }
  & th {
    text-wrap: nowrap;

    width: 100%;
    font-size: 14px;
    padding: 5px;
    &:first-child {
      word-wrap: normal;
    }
  }

  & th:nth-child(2) {
    border-top: $main;
    border-bottom: $main;
  }
  & td:nth-child(1) {
    word-wrap: normal;
    border-right: $main;
    border-left: $main;
    border-bottom: $main;
  }
  & td:nth-child(2) {
    text-wrap: nowrap;
    border-bottom: $main;
  }
  & td:nth-child(3) {
    text-wrap: nowrap;

    border-right: $main;
    border-left: $main;
    border-bottom: $main;
  }
  & td {
    text-align: center;

    // padding: 10px;

    // font-size: 20px;
  }
  // border: 2px solid #000;
  // padding: 2px;
}
.sources-table {
  & input {
    border: none;
  }
}
.remarks {
  margin-top: 5px;
  border: 2px solid #000;
  display: flex;
  flex-direction: column;
  & span {
    width: 100%;
    font-weight: bold;
    text-align: center;
    border-bottom: 2px solid #000;
  }
  #remarks {
    height: 150px;
  }
}
.summary {
  display: grid;
  grid-template-columns: 350px 1fr;
  grid-template-rows: 1.5rem 1fr;
  height: 200px;

  & span {
    font-weight: bold;
    grid-column: 1 /3;
    text-align: center;
    border: $main;

    border-top: none;
  }
  & .check-boxes {
    & label {
      &:first-child {
        margin-left: 10px;
      }
      display: flex;
      align-items: center;
      justify-content: center;
    }
    & input {
      position: absolute;
      z-index: -1;
      opacity: 0;

      & + label {
        display: flex;
        flex-direction: row;
        align-items: center;
        user-select: none;
      }
      & + label::before {
        content: "";
        display: inline-block;
        width: 20px;
        height: 20px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 3px solid #000;
        margin-right: 0.5em;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 50% 50%;
      }
      &:checked + label::before {
        background-image: url(./img/cross-svgrepo-com.svg);
        background-size: 20px;
      }
    }
    #label_1,
    #label_2,
    #label_3 {
      text-decoration: line-through 2px;
    }

    grid-row: 2;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-size: 14px;
  }

  border: 2px solid #000;
  border-top: none;
}
.signature {
  grid-row: 4;
  grid-column: 2;
  justify-content: end;
  display: flex;
  padding: 10px;
  & .sign {
    width: 200px;
    height: 1rem;
    border-bottom: $main;
  }
}

.resolution,
.resolve {
  width: 100%;

  & div {
    text-align: center;
    padding: 5px;
    border: $main;
    background-color: #8d8d8d;
  }
  & textarea {
    width: 100%;
    height: 265px;
  }
  & table {
    width: 100%;
  }
  & th {
    border: $main;
    text-align: center;
  }
  & td {
    &:not(:first-child) {
      width: 50px;
    }
    text-align: center;
    border: $main;
    height: 30px;
  }
}

footer {
  grid-column: 1/4;
  padding: 20px 0 20px 10px;
  grid-row: 3;
  display: flex;
  align-self: flex-end;
}
.new-page {
  height: 210mm;
  display: grid;
  grid-template-rows: 12mm 1fr 10mm;
  position: relative;
  &-header {
    display: flex;
    &-title {
      padding: 0 10px;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50%;
      border: $main;
      text-wrap: nowrap;
    }

    &-section {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      & > span {
        text-wrap: nowrap;
        border: $main;
      }
      &-id,
      &-date {
        padding: 2px 0.5rem;
      }

      &-order--number {
        padding: 2px 0.5rem;
        flex-grow: 1;
      }
      &-order--description {
        width: 100%;
        padding: 2px;
      }
    }
  }
  &-content {
    display: flex;
    max-width: 100%;
    max-height: 100%;
    & img {
      max-width: 100%;
    }
    & .buttonToAddImg {
      // position: absolute;
      // top: 20px;
    }
    border: $main;
  }
}
.report-images {
}
@media print {
  html,
  body {
    margin-left: 5px;

    width: 297mm;
  }
  button {
    display: none;
  }
  .other {
    display: none;
  }
}
